vr_backend/db.sqlite3
*.sqlite3
vr_backend/db.sqlite3
vr_backend/db.sqlite3
/vr_backend/interviewer/__pycache__
vr_backend/interviewer/__pycache__/views.cpython-39.pyc
vr_backend/db.sqlite3
vr_backend/interviewer/__pycache__/views.cpython-39.pyc
vr_backend/db.sqlite3
vr_backend/interviewer/__pycache__/views.cpython-39.pyc
